@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
    25% {
      background-position: 100% 50%;
      background-size: 200% 200%;
    
    }
    100% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
  }

 
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --shadow-input:
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),
  0px 1px 0px 0px rgba(25, 28, 33, 0.02),
  0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.moving-border-gradient {
  background-size: 100% 100%;
  background-image: conic-gradient(
    from var(--border-angle),
    #10b981,
    #34d399,
    #10b981,
    #10b981 
  );
}


@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
