@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
    25% {
      background-position: 100% 50%;
      background-size: 200% 200%;
    
    }
    100% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
  }

 
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}