@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
    25% {
      background-position: 100% 50%;
      background-size: 200% 200%;
    
    }
    100% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
  }

 
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --shadow-input:
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),
  0px 1px 0px 0px rgba(25, 28, 33, 0.02),
  0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}